body {
    background-image: url("../assets/backdrop.gif");
    background-size: cover;
    backdrop-filter: blur(10px) brightness(20%);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: rgb(225, 40, 148, 0.1);
    color: aliceblue;
    text-align: center;
    font-family: Tahoma;
    border-style: solid;
    border-width: thin;
    border-color: rgb(221, 0, 255);
}

.header_page_links {
    display: flex;
}


.image_gallery {
    display: flex;
    align-items: center;
}

.homepage_image {
    flex: 1;
    padding: 10px;
    margin: 10px;
}

.homepage_image img {
    width: 100%;
    height: auto;
}

.homepage_image:hover {
    border-style: solid;
    border-width: thin;
    border-color: yellow;
}

.image_text {
    padding: 15px;
    text-align: center;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

footer {
    background-color: rgb(225, 40, 148, 0.1);
    color: aliceblue;
    text-align: center;
    font-family: Tahoma;
    border-style: solid;
    border-width: thin;
    border-color: rgb(221, 0, 255);
    position: relative;
    bottom: 0;
}

.footer_links {
    display: flex;
    align-items: center;
}

.copyright {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 12px;
    color: rgb(255, 109, 163);
    text-align: center;
}

.copyright a {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 12px;
    color: rgb(255, 109, 163);
    text-align: center;
}

.link {
    display: block;
    flex: 1;
    color: aliceblue;
    font-family: Tahoma;
    font-size: 24px;
    text-decoration: none;
    padding: 5px;
}

.active_page {
    display: block;
    flex: 1;
    color: yellow;
    font-family: Tahoma;
    font-size: 24px;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    color: cyan;
}

.page_title {
    color: aliceblue;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
}

.subsection {
    margin: 0 10px 0 10px;
}

.subsection_title {
    color: yellow;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
}

.homepage_container {
    margin: 0 10px 0 10px;
}

.homepage_body_text {
    color: aliceblue;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.company_name {
    color: rgb(255, 109, 163);
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

.position, .additional_trivia {
    color: aliceblue;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: -20px 0 0 0;
}

.duration {
    color: aliceblue;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

.job_description {
    color: aliceblue;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.embedded_link {
    color: rgb(255, 109, 163);
    font-family: inherit;
    font-size: inherit;
}

.course_list {
    color: aliceblue;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_label {
    flex: 1;
    font-size: 40px;
    color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

input, textarea {
    flex: 1;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    width: 700px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(255, 109, 163);
    resize: none;
}

#message {
    height: 200px;
}

#send {
    width: 728px;
}

#send:hover {
    color: aliceblue;
    background-color: rgb(225, 40, 148, 0.4);
    cursor: pointer;
}

span {
    color: cyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 42px;
}

.trivia_item {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

audio {
    display: inline;
    vertical-align: middle;
}

table {
    width: 100%;
    border: solid;
    border-width: 2px;
    border-color: yellow;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    text-align: center;
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: rgb(255, 109, 163, 0.2);
}

tr:nth-child(even) {
    background-color: rgb(255, 109, 163, 0.1);
}

td {
    width: 50%;
    padding: 10px;
}

.top_five_list {
    display: flex;
    align-items: center;
}

.list_title {
    flex: 1;
    color: cyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
}

ol {
    flex: 1;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

@media (max-width: 425px) {
    .link, .active_page {
        font-size: 18px;
    }

    .image_gallery {
        flex-direction: column;
    }

    .top_five_list {
        flex-direction: column;
    }

    .page_title {
        font-size: 32px;
    }

    .subsection_title {
        font-size: 32px;
    }

    table {
        font-size: 20px;
    }

    audio {
        width: 100%;
        height: 50px;
    }
    
    input, textarea, #message {
        width: 270px;
    }

    #send {
        width: 299px;
    }
}
